# files being edited
*~

# make and build files
*.o
*.lo
*.la
*.valid
*.nsi
*.plugin
*.1
*.gmo
stamp-it
stamp-h1
*.rc
*.pc
*.desktop

# Directories
*.deps
*.libs
*.dirstamp
build

# Misc
*appdata.xml
po/.intltool-merge-cache
libtool
configure
.buildconfig

